# Set to 'development' or 'production'
FLASK_CONFIG = 'production'

# Set True for development, False for production
FLASK_DEBUG = False

# SQLite database connection string
DATABASE_URI = "sqlite:///./app.db"

# MySQL/MariaDB connection string
# DATABASE_URI = "mysql+pymysql://username:password@hostname:3306/db-name"

# Path to the sqlite db file use for demo
DEMO_DB_SQLITE = 'demo/app.db'

# Database for unit/feature testing
# TESTING_DATABASE_URI=''

# Secret key used for session and cookies
# To generate new keys, run the following command
# and paste it here
# python -c 'import secrets; print(secrets.token_hex())'

SECRET_KEY = ""

# Number of reverse proxies placed in front of Flask instance
PROXY_COUNT = 0
