# Toggle debug mode, set to True if running in dev
FLASK_DEBUG=False


# Secret key used for session and cookies
# To generate new keys, run the following command
# and paste it here
# python -c 'import secrets; print(secrets.token_hex())'

SECRET_KEY = ""
