<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home{% endblock %} - Simple TODO</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/script.js" defer></script>
</head>

<body>
  {% block content %}{% endblock %}

  <footer>
    <hr>
    <div>
      Copyright &copy; 2025 Fortunato Estorgio. All Rights Reserved.
    </div>
  </footer>
</body>

</html>